﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Q-Log</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/datatables.min.css" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left"><img src="~/images/Schauf_Logo.png" style="height:50px; padding:5px; vertical-align: central" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @if (User?.Identity?.IsAuthenticated == true && User?.IsInRole("Registration") == true)
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Registration">
                                <i class="glyphicon glyphicon-plus Header-Format" style="font-size:1.5em;"></i>
                                @if (ViewBag.targetArea == "Registration")
                                {
                                    <b style="color:dodgerblue; font-size:1.3em;"> Anmeldung</b>
                                }
                                else
                                {
                                    <i class="Header-Format"> Anmeldung</i>
                                }
                            </a>
                        </li>
                    }
                    @if (User?.Identity?.IsAuthenticated == true && User?.IsInRole("Processing") == true)
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Processing">
                                <i class="glyphicon glyphicon-pencil Header-Format" style="font-size:1.5em;"></i>
                                @if (ViewBag.targetArea == "Processing")
                                {
                                    <b style="color:dodgerblue; font-size:1.3em;"> Bearbeiten</b>
                                }
                                else
                                {
                                    <i class="Header-Format"> Bearbeiten</i>
                                }

                            </a>
                        </li>
                    }
                    @if (User?.Identity?.IsAuthenticated == true && User?.IsInRole("History") == true)
                    {
                        <li>
                            <a asp-action="Index" asp-controller="History">
                                <i class="glyphicon glyphicon-book Header-Format" style="font-size:1.5em;"></i>
                                @if (ViewBag.targetArea == "History")
                                {
                                    <b style="color:dodgerblue; font-size:1.3em;"> Historie</b>
                                }
                                else
                                {
                                    <i class="Header-Format"> Historie</i>
                                }
                            </a>
                        </li>
                    }
                    @if (User?.Identity?.IsAuthenticated == true && User?.IsInRole("Configuration") == true)
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Configuration">
                                <i class="glyphicon glyphicon-cog Header-Format" style="font-size:1.5em;"></i>
                                @if (ViewBag.targetArea == "Configuration")
                                {
                                    <b style="color:dodgerblue; font-size:1.3em;"> Konfiguration</b>
                                }
                                else
                                {
                                    <i class="Header-Format"> Konfiguration</i>
                                }
                            </a>
                        </li>
                    }
                    <li>
                        <a href="#" id="InfoPopover" data-toggle="popover" data-html="true" title="Hinweise:" data-trigger="hover" data-placement="bottom" data-container="body" data-content="Information">
                            <i class="glyphicon glyphicon-info-sign Header-Format" style="font-size:1.5em;"></i>
                            <i class="Header-Format"> Info</i>
                        </a>
                    </li>
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <li>
                            <a asp-action="Logout" asp-controller="Account" asp-route-targetArea="@ViewBag.targetArea">
                                <i class="glyphicon glyphicon-log-out Header-Format" style="font-size:1.5em;"></i>
                                <i class="Header-Format"> Logout</i>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="Login" asp-controller="Account" asp-route-targetArea="@ViewBag.targetArea">
                                <i class="glyphicon glyphicon-log-in Header-Format" style="font-size:1.5em;"></i>
                                <i class="Header-Format"> Login</i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top:70px; padding-left:25px; padding-right: 25px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - Q-Log Schauf GmbH</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/filter.js"></script>
    <script src="~/js/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
