﻿@model HistoryViewModel
@{
    ViewData["Title"] = "Historie";
    ViewBag.targetArea = "History";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}
    <div class="row ">
        <input id="ClientRole" hidden value="@Model.ClientRole" />

        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Optionen</h4>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-stacked nav-pills">
                        @if (User?.IsInRole("Export") == true)
                        {
                            <li>
                                <a asp-controller="History" asp-action="ExportHistoryCSV" style="width:100%;"><i class="glyphicon glyphicon-download"></i> Alles exportieren</a>
                            </li>
                        }
                        <li class="nav-header">
                            <a href="#" data-toggle="collapse" data-target="#filter" style="width:100%;"><i class="glyphicon glyphicon-filter"></i> Erweitert Filtern <i class="glyphicon glyphicon-chevron-right"></i></a>
                            <ul class="nav nav-stacked collapse" id="filter" style="padding-top:5px;">
                                <li>
                                    <label>History Anzeigen:</label>
                                    <input type="checkbox" id="HistoryCheck" class="form-control" />
                                </li>
                                <li>
                                    <label>Kennzeichen:</label>
                                    <input type="text" id="LicenseplateInput" placeholder="Kennzeichen" class="form-control" />
                                </li>
                                <li>
                                    <label>Spedition:</label>
                                    <input type="text" id="ForwardingAgencyInput" placeholder="Spedition" class="form-control" />
                                </li>
                                <li>
                                    <label>Transportnummer:</label>
                                    <input type="text" id="TransportnumberInput" placeholder="Transportnummer" class="form-control" />
                                </li>
                                <li>
                                    <label>Lieferland:</label>
                                    <input type="text" id="DeliveryCountryInput" placeholder="Lieferland" class="form-control" />
                                </li>
                                <li>
                                    <label>ERP ID:</label>
                                    <input type="number" id="ERPIDInput" placeholder="ERP ID" class="form-control" />
                                </li>
                                <li>
                                    <label>Anmeldung zwischen:</label>
                                    <input type="datetime-local" id="RegistrationMin" class="form-control" placeholder="Von" />
                                    <input type="datetime-local" id="RegistrationMax" class="form-control" placeholder="Bis" />
                                </li>
                                <li>
                                    <label>Dauer:</label>
                                    <input type="number" placeholder="Min" id="DurationMinInput" class="form-control" />
                                    <input type="number" placeholder="Max" id="DurationMaxInput" class="form-control" />
                                </li>
                                <li>
                                    <label>Art:</label>
                                    <select id="TypeSelect" class="form-control">
                                        <option>*</option>
                                        <option>An</option>
                                        <option>Ab</option>
                                        <option>An & Ab</option>
                                    </select>
                                </li>
                                <li>
                                    <label>Tor</label>
                                    <input type="text" id="GateInput" class="form-control" placeholder="Tor" />
                                </li>
                                <li>
                                    <label>Aufruf zwischen:</label>
                                    <input type="datetime-local" id="CallMin" class="form-control" placeholder="Von" />
                                    <input type="datetime-local" id="CallMax" class="form-control" placeholder="Bis" />
                                </li>
                                <li>
                                    <label>Einfahrt zwischen:</label>
                                    <input type="datetime-local" id="EntryMin" class="form-control" placeholder="Von" />
                                    <input type="datetime-local" id="EntryMax" class="form-control" placeholder="Bis" />
                                </li>
                                <li>
                                    <label>Ausfahrt zwischen:</label>
                                    <input type="datetime-local" id="ExitMin" class="form-control" placeholder="Von" />
                                    <input type="datetime-local" id="ExitMax" class="form-control" placeholder="Bis" />
                                </li>
                                <li>
                                    <label>Kommentar:</label>
                                    <input type="text" id="CommentInput" placeholder="Kommentar" class="form-control" />
                                </li>
                                <li>
                                    <button class="btn btn-danger" onclick="resetFilter();">Zurücksetzen</button>
                                    <button class="btn btn-primary" onclick="filterTable();" style="float:right;">Filtern</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--col-lg-2-->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Historie</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead>
                                <tr>
                                    <th>Kennzeichen</th>
                                    <th>Spedition</th>
                                    <th>ERP ID</th>
                                    <th>Transportnummer</th>
                                    <th>Lieferland</th>
                                    <th>Anm. am</th>
                                    <th>Dauer (in min.)</th>
                                    <th>Art</th>
                                    <th>Tor</th>
                                    <th>Aufruf um</th>
                                    <th>Einfahrt um</th>
                                    <th>Ausfahrt um</th>
                                    <th>Kommentar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Registrations.Count; i++)
                                {
                                    var regist = Model.Registrations[i];
                                    var times = Model.Times.Where(x => x.RegistratoinInformationID == regist.ID);
                                    var rowStyle = "";

                                    foreach (ClosedTimes time in times.OrderByDescending(x => x.TimeOfExit)
                                                                       .ThenByDescending(x => x.TimeOfEntry)
                                                                       .ThenByDescending(x => x.TimeOfCall))
                                    {
                                        if (time.TimeOfEntry == new DateTime())
                                        {
                                            rowStyle = "background-color: SkyBlue;";
                                        }
                                        <tr id="TR @regist.ID" style="@rowStyle">
                                            <td>@regist.LicensePlate</td>

                                            <td>@regist.ForwardingAgency</td>

                                            <td style="text-align:center;">@regist.ForwardingAgencyERPID</td>

                                            <td>@regist.Transportnumber</td>

                                            <td>@regist.DeliveryCountry</td>

                                            @{
                                                var longTimeOfRegist = time.TimeOfRegistration == new DateTime() ? " - " :
                                                    time.TimeOfRegistration.ToString();
                                            }
                                            <td style="text-align:center">
                                                @longTimeOfRegist
                                            </td>

                                            @{
                                                var timeSpent = 0.0;
                                                if (time.TimeOfExit != new DateTime() &&
                                                    time.TimeOfRegistration != new DateTime())
                                                {
                                                    timeSpent = (time.TimeOfExit - time.TimeOfRegistration).TotalMinutes;
                                                }
                                            }
                                            <td style="text-align:center;">@timeSpent.ToString("0")</td>

                                            @{
                                                switch (regist.JobType)
                                                {
                                                    case EJobType.Deliver:
                                                        <td>
                                                            <div style="background-color:lightgreen;  text-align:center;">An</div>
                                                        </td>
                                                        break;
                                                    case EJobType.PickUp:
                                                        <td>
                                                            <div style="background-color:lightcoral; text-align: center;">Ab</div>
                                                        </td>
                                                        break;
                                                    case EJobType.DeliverAndPickUp:
                                                        <td>
                                                            <div style="background-color:lightblue; text-align: center;">An & Ab</div>
                                                        </td>
                                                        break;
                                                }
                                            }

                                            <td>
                                                <p style="text-align:center;">@time.Gate</p>
                                            </td>

                                            @{
                                                var longTimeOfCall = time.TimeOfCall == new DateTime() ? " - " : time.TimeOfCall.ToString();
                                            }
                                            <td id="Call @regist.ID" style="text-align:center">@longTimeOfCall</td>
                                            @{
                                                var longTimeOfEntry = time.TimeOfEntry == new DateTime() ? " - " : time.TimeOfEntry.ToString();
                                            }
                                            <td id="Entry @regist.ID" style="text-align:center">@longTimeOfEntry</td>
                                            @{
                                                var longTimeOfExit = time.TimeOfExit == new DateTime() ? " - " : time.TimeOfExit.ToString();
                                            }
                                            <td id="Exit @regist.ID" style="text-align:center">@longTimeOfExit</td>

                                            <td>@regist.Comment</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
        <!--row-->
    </div>
@section Scripts{
    <script src="~/js/History.js"></script>

}
