﻿@model ProcessingViewModel
@{
    ViewData["Title"] = "Bearbeitung";
    ViewBag.targetArea = "Processing";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}


@if (User?.IsInRole("DeliverAndPickUp") == true)
{
    <input type="hidden" id="DeliverAndPickUp" value="true" />
}
@if (User?.IsInRole("PickUp") == true)
{
    <input type="hidden" id="PickUp" value="true" />
}
@if (User?.IsInRole("Deliver") == true)
{
    <input type="hidden" id="Deliver" value="true" />
}


<div class="row ">
    <div class="col-lg-1">
        <!--col-lg-1-->
    </div>
    <input id="ClientRole" hidden value="@Model.ClientRole" />
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Angemeldete Fahrzeuge</h4>
            </div>
            <div class="panel-body">
                <button id="EnableEditing" onclick="enableEditing()" class="btn btn-info">Bearbeiten</button>
                <div class="table-responsive">
                    <table class="table table-striped" id="table">
                        <thead>
                            <tr>
                                <th>Kennzeichen</th>
                                <th>Spedition</th>
                                <th>Transportnummer</th>
                                <th>Lieferland</th>
                                <th>Anm. um</th>
                                <th>Anm. vor (min.)</th>
                                <th>Art</th>
                                <th>Tor</th>
                                <th>Aufruf um</th>
                                <th>Rück.</th>
                                <th>Einfahrt um</th>
                                <th>Rück.</th>
                                <th>Ausfahrt um</th>
                                <th>Kommentar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Registrations.Count; i++)
                            {
                                var regist = Model.Registrations[i];
                                var times = Model.Times.Where(x => x.RegistratoinInformationID == regist.ID).ToList();
                                <tr id="TR @regist.ID">
                                    <td>
                                        <input id="LicensePlate @regist?.ID" value="@regist.LicensePlate" onchange="licensePlateChanged('@regist?.ID')" disabled />
                                    </td>

                                    <td>@regist.ForwardingAgency</td>

                                    <td>@regist.Transportnumber</td>

                                    <td>@regist.DeliveryCountry</td>

                                    @{
                                        var longTimeOfRegist = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfRegistration.ToString();
                                        var shortTimeOfRegist = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfRegistration.ToString("HH:mm");
                                    }
                                    <td style="text-align:center">
                                        <span onclick="toggleFullDate(this, '@longTimeOfRegist', '@shortTimeOfRegist')">@shortTimeOfRegist</span>
                                    </td>

                                    @{
                                        var minSinceRegist = DateTime.Now - times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfRegistration;

                                    }
                                    <td style="text-align:center;">@minSinceRegist.TotalMinutes.ToString("0")</td>

                                    @{
                                        //var type = "";
                                        switch (regist.JobType)
                                        {
                                            case EJobType.Deliver:
                                                <td>
                                                    <div style="background-color:lightgreen;  text-align:center;">An</div>
                                                </td>
                                                break;
                                            case EJobType.PickUp:
                                                <td>
                                                    <div style="background-color:lightcoral; text-align: center;">Ab</div>
                                                </td>
                                                break;
                                            case EJobType.DeliverAndPickUp:
                                                <td>
                                                    <div style="background-color:lightblue; text-align: center;">An & Ab</div>
                                                </td>
                                                break;
                                        }
                                    }


                                    <td>
                                        <select class="form-control" id="gateSelect @regist.ID" onchange="gateSelected(this, '@regist.ID')" size="1" style="min-width:70px;">
                                            @{
                                                var found = false;
                                            }
                                            @foreach (var gate in Model.Gates)
                                            {

                                                if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().Gate == gate.Name)
                                                {
                                                    <option selected>@gate.Name</option>
                                                    found = true;
                                                }
                                                else
                                                {
                                                    <option>@gate.Name</option>
                                                }

                                            }
                                            @if (!found)
                                            {
                                                <option selected>@times.Where(x => x.IsLastEdited == true).FirstOrDefault().Gate</option>
                                            }
                                        </select>
                                    </td>

                                    <td id="Call @regist.ID" style="text-align:center;">
                                        @if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall == new DateTime())
                                        {
                                            <button class="btn btn-success" onclick="call('@regist.ID')">Aufruf</button>
                                        }
                                        else
                                        {
                                            var longTimeOfCall = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall.ToString();
                                            var shortTimeOfCall = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall.ToString("HH:mm");
                                            <p style="text-align:center;">
                                                <span onclick="toggleFullDate(this, '@longTimeOfCall', '@shortTimeOfCall')">@shortTimeOfCall</span>
                                            </p>
                                        }
                                    </td>

                                    <td>
                                        @if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall != new DateTime() && times.Where(x => x.IsLastEdited == true).First().TimeOfEntry == new DateTime())
                                        {
                                            <button id="WithdrawCall @regist.ID" class="btn btn-dark" onclick="withdrawCall('@regist.ID')">X</button>
                                        }
                                        else
                                        {
                                            <button id="WithdrawCall @regist.ID" class="btn btn-dark" disabled onclick="withdrawCall('@regist.ID')">X</button>
                                        }
                                    </td>

                                    <td id="Entry @regist.ID" style="text-align:center;">
                                        @if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfEntry == new DateTime() &&
                                      times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall != new DateTime())
                                        {
                                            <button class="btn btn-primary" onclick="setEntry('@regist.ID')">Einfahrt</button>
                                        }
                                        else if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfEntry == new DateTime() &&
                                                 times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall == new DateTime())
                                        {
                                            <button class="btn btn-primary" disabled onclick="setEntry('@regist.ID')">Einfahrt</button>
                                        }
                                        else
                                        {
                                            var longTimeOfEntry = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfEntry.ToString();
                                            var shortTimeOfEntry = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfEntry.ToString("HH:mm");
                                            <p style="text-align:center;">
                                                <span onclick="toggleFullDate(this, '@longTimeOfEntry', '@shortTimeOfEntry')">@shortTimeOfEntry</span>
                                            </p>
                                        }
                                    </td>

                                    <td>
                                        @if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfCall != new DateTime() &&
                                      times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfEntry != new DateTime())
                                        {
                                            <button id="WithdrawEntry @regist.ID" class="btn btn-dark" onclick="withdrawEntry('@regist.ID')">X</button>
                                        }
                                        else
                                        {
                                            <button id="WithdrawEntry @regist.ID" class="btn btn-dark" disabled onclick="withdrawEntry('@regist.ID')">X</button>
                                        }
                                    </td>

                                    <td id="Exit @regist.ID" style="text-align:center">
                                        @if (times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfExit == new DateTime())
                                        {
                                            <button class="btn btn-danger" onclick="setExit('@regist.ID')">Ausfahrt</button>
                                        }
                                        else
                                        {
                                            var longTimeOfExit = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfExit.ToString();
                                            var shortTimeOfExit = times.Where(x => x.IsLastEdited == true).FirstOrDefault().TimeOfExit.ToString("HH:mm");
                                            <p style="text-align:center;">
                                                <span onclick="toggleFullDate(this, '@longTimeOfExit', '@shortTimeOfExit')">@shortTimeOfExit</span>
                                            </p>
                                        }
                                    </td>

                                    <td>
                                        <input id="Comment @regist.ID" value="@regist.Comment" onchange="commentChanged('@regist.ID')" disabled />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1">
    </div>
    <!--row-->
</div>


@section Scripts{
    <script src="~/js/Processing.js"></script>
}
