﻿@model GroupViewModel
@{
    ViewData["Title"] = "Gruppe hinzufügen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Berechtigungsgruppe hinzufügen</h4>
                </div>
                <div class="panel-body">
                    <div id="ErrorDiv" asp-validation-summary="All" style="color:red;">
                        <ul id="ErrorUL">
                            @if (!String.IsNullOrEmpty(errorMessage))
                            {

                                <li>@errorMessage</li>

                            }
                        </ul>
                    </div>

                    <form class="form" asp-action="AddAuthorizationGroup" method="post">

                        <div class="form-group">
                            <label class="control-label">Name *:</label>
                            <input type="text" class="form-control" asp-for="Group.Name" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">AD Gruppenname:</label>
                            <input type="text" class="form-control" asp-for="Group.ADGroupName" autocomplete="off" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Anmeldung:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.CanUseRegistration" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Bearbeitung:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.CanUseProcessing" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Historie:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.CanUseHistory" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Konfiguration:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.CanUseConfig" />
                        </div>

                        <hr />

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Anlieferung:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.AllowDeliver" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Zugang zur Abholung:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.AllowPickup" />
                        </div>

                        <hr />

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Darf Tor zuweisen:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.SetGate" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Darf Fahrzeug aufrufen:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.AllowEntrance" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Darf Einfahrt setzen:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.SetEntrance" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Darf Ausfahrt setzen:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.SetExit" />
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-4">Darf Daten exportieren:</label>
                            <input type="checkbox" class="form-control myCheckbox" asp-for="Group.Export" />
                        </div>

                        <hr />

                        <div class="form-group">
                            <p>* Pflichtfeld</p>
                        </div>

                        <hr />

                        <div class="form-inline">
                            <a asp-action="AuthorizationGroups" class="btn btn-danger" style="float:left;">Abbrechen</a>
                            <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.getElementById("AuthorizationGroups").className += " active";

        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Der Name ist ein Pflichtfeld und muss einzigartig sein.</li>";
            data += "<hr />";
            data += "<li>Wenn Sie einen AD Gruppennamen angeben, können automatisch erzeugte Benutzer bei der Erzeugung dieser Gruppe zugewiesen werden, wenn der Benutzer der entsprechenden Active Directory Gruppe angehört.</li>";
            data += "<hr />";
            data += "<li>Wählen Sie alle gewünschten Berechtigungen dieser Gruppe an.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }

    </script>
}