﻿@model GateViewModel
@{
    ViewData["Title"] = "Tor hinzufügen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Tor hinzufügen</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <form class="form" asp-action="AddGate" method="post">

                        <div class="form-group">
                            <label class="control-label">Name *:</label>
                            <input type="text" class="form-control" asp-for="Gate.Name" autocomplete="off" />
                        </div>

                        @*<div class="form-group">
                            <label class="control-label">Richtungspfeil:</label>
                            <select asp-for="Gate.GateDirection" asp-items="Html.GetEnumSelectList<MVC.Data.Entities.EDirectionArrows>()" class="form-control"> </select>
                        </div>*@

                        <div class="form-group">
                            <label class="control-label">Tortyp *:</label>
                            <select asp-for="Gate.GateType" asp-items="Html.GetEnumSelectList<EJobType>()" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Soll das Relay bei einen Aufruf angesteuert werden? *:</label>
                            <select asp-for="Gate.UseRelayAtCall" asp-items="@Model.UseRelaySelect" class="form-control"></select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Beschreibung :</label>
                            <textarea class="form-control" asp-for="Gate.Description"></textarea>
                        </div>

                        <hr />

                        <div class="form-group">
                            <p>* Pflichtfeld</p>
                        </div>

                        <hr />

                        <div class="form-inline">
                            <a asp-action="Gates" class="btn btn-danger" style="float:left;">Abbrechen</a>
                            <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>
@section Scripts{
    <script>
        document.getElementById("Gates").className += " active";
        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Der Name ist ein Pflichtfeld und muss einzigartig sein.</li>";
            data += "<li>Der Name sollte kurz und eindeutig sein. Zusätzliche Informationen können Sie in die Beschreibung einbinden.</li>"
            data += "<li>Beispiel: Name: T1, Beschreibung: Tor 1 für tägliche Anlieferungen.</li>"
            data += "<hr />";
            data += "<li>Es muss ein Tortyp gewählt werden.</li>"
            data += "<li>Die Tore kann man nur mit den entsprechenden Berechtigungen einsehen und zuweisen.</li>"
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}
