﻿@model ADSettings
@{
    ViewData["Title"] = "Active Directory Einstellungen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                    <form asp-action="SetADSettings" method="post">
                        <div class="form-inline">
                            <label asp-for="ServerIP" class="control-label col-sm-6">Serveradresse:</label>
                            <input type="text" asp-for="ServerIP" class="form-control" value="@Model?.ServerIP" autocomplete="off" />
                        </div>
                        <div class="form-inline">
                            <label asp-for="DomainNames" class="control-label col-sm-6">Domainnamen:</label>
                            <input type="text" asp-for="DomainNames" class="form-control" value="@Model?.DomainNames" autocomplete="off" />
                        </div>
                        <div class="form-inline">
                            <label asp-for="DomainUserName" class="control-label col-sm-6">Domain Benutzername:</label>
                            <input type="text" asp-for="DomainUserName" class="form-control" value="@Model?.DomainUserName" autocomplete="off" />
                        </div>
                        <div class="form-inline">
                            <label asp-for="DomainUserPassword" class="control-label col-sm-6">Domain Benutzerpasswort:</label>
                            <input type="password" asp-for="DomainUserPassword" class="form-control" value="@Model?.DomainUserPassword" autocomplete="off" />
                        </div>
                        <hr />
                        <div class="form-inline">
                            <label asp-for="UseAD" class="control-label col-sm-6">Active Directory benutzen:</label>
                            <input type="checkbox" asp-for="UseAD" class="form-control myCheckbox" checked="@Model?.UseAD" />
                        </div>
                        <div class="form-inline">
                            <label asp-for="GenerateAccountsForNewADUsers" class="control-label col-sm-6">Automatisch Benutzerkonten für Active Directory Benutzer erzeugen:</label>
                            <input type="checkbox" asp-for="GenerateAccountsForNewADUsers" class="form-control myCheckbox" checked="@Model?.GenerateAccountsForNewADUsers" />
                        </div>
                        <hr />
                        <div class="form-inline">
                            <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#ADSettings').addClass("active");
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Sie sollten Active Directory nur verwenden, wenn der Server im lokalen Netz eingebunden ist. In diesem Fall können Sie die Einstellungen frei lassen.</li>";
            data += "<hr />";
            data += "<li>Wenn Sie keine Active Directory Benutzer verwenden möchten, entfernen Sie den Hacken aus der Option \"Active Directory benutzen\".</li>";
            data += "<li>Wenn Sie Active Directory einsetzen, haben Sie die Möglichkeit, Benutzerkonten automatisch erzeugen zu lassen. Wenn Sie diese Option wählen, wird folgender Vorgang aktiv:</li>";
            data += "<li>Ein Mitarbeiter, welcher in Windows angemeldet ist, ruft die Anwendung (Website) auf. Wenn sein Name, zum Beispiel Domain\\M.Muster, noch nicht in der Benutzerdatenbank vorhanden ist, wird für ihn ein Benutzer angelegt. Dabei wird nachgesehen, ob er in einer Active Directory Grupe ist, welche einer Berechtigungsgruppe der Anwendung zugeordnet ist. Falls dies so ist, wird der Bentuzer automatisch der entsprechenden Berechtigungsgruppe zugeordnet.</li>";
            data += "<li>Beispiel: Mitarbeiter:Max Mustermann, Domänenname:DN, Active Directory Gruppe: Pforte</li>";
            data += "<li>Es wird überprüft, existiert Benutzer DN\\M.Mustermann? Wenn nicht, wird der Benutzer angelegt und überprüft ob es eine Berechtigungsgruppe mit AD Gruppennamen \"Pforte\" gibt. Wenn ja, wird der Benutzer dieser Gruppe zugeordnet und erhält die in der Gruppe festgelegten Berechtigungen.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}

