﻿@model DeliveryCountriesViewModel
@{
    ViewData["Title"] = "Lieferländer";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <a asp-action="AddDeliveryCountry" class="btn" style="float: left;"><i class="glyphicon glyphicon-plus"></i> Lieferland hinzufügen</a>

                    <br />
                    <hr />

                    <form asp-action="SetDefaultDeliveryCountry" method="post">
                        <div class="form-inline">
                            <label asp-for="DefaultDeliveryCountry" class="control-label" style="min-width:25%;">Standard Lieferland:</label>
                            <select class="form-control" size="1" asp-for="DefaultDeliveryCountry">
                                @{
                                    for (int i = 0; i < Model.DeliveryCountries.Count; i++)
                                    {
                                        var name = Model.DeliveryCountries[i].Country;
                                        if (name == Model.DefaultDeliveryCountry)
                                        {
                                            <option selected>@name</option>
                                        }
                                        else
                                        {
                                            <option>@name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        <br />
                    </form>
                    <hr />

                    <div class="table-responsive">
                        <table id="table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="1">Land</th>
                                    <th colspan="1">Optionen</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>
                            <tbody id="DeliveryCountriesBody">
                                @for (int i = 0; i < @Model.DeliveryCountries.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.DeliveryCountries[i].Country</td>
                                        <td><a asp-action="EditDeliveryCountry" asp-route-id="@Model.DeliveryCountries[i].ID" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Bearbeiten</a></td>
                                        <td>
                                            <form asp-action="DeleteDeliveryCountry" method="post">
                                                <input type="hidden" name="id" value="@Model.DeliveryCountries[i].ID" />
                                                <button class="btn btn-danger" style="float:right" onclick="if (!confirm('Möchten Sie das Lieferland wirklich löschen?')) return false;"><i class="glyphicon glyphicon-remove"></i> Löschen</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <!--row-->
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DeliveryCountries').addClass("active");

            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [1, 2] }
                ],
                "order": [[0, "asc"]],
                "language": {
                    "lengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": "Keine Einträge gefunden.",
                    "info": "Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": "Vorherige Seite",
                        "next": "Nächste Seite"
                    },
                    "search": "Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Alle"]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Sie können neue Länder hinzufügen indem Sie auf \"Lieferland hinzufügen\" klicken.</li>";
            data += "<li>Das standart Lieferland ist das vorausgewählte bei der Anmeldung.</li>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
    </script>
}


