﻿@model DisplayIndexViewModel
@{
    ViewData["Title"] = "Anzeigen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                    <a asp-action="AddDisplay" class="btn" style="float: left;"><i class="glyphicon glyphicon-plus"></i> Anzeige hinzufügen</a>

                    <br />
                    <hr />

                    <div class="table-responsive">
                        <table id="table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="1">Name</th>
                                    <th colspan="1">IP</th>
                                    <th colspan="1">Port</th>
                                    <th colspan="1">Optionen</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>
                            <tbody id="DisplaysBody">
                                @for (int i = 0; i < Model.Displays.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.Displays[i].Name</td>
                                        <td>@Model.Displays[i].IPAddress</td>
                                        <td>@Model.Displays[i].Port</td>
                                        <td><a asp-action="EditDisplay" asp-route-id="@Model.Displays[i].ID" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Bearbeiten</a></td>
                                        <td>
                                            <form asp-action="DeleteDisplay" method="post">
                                                <input type="hidden" name="id" value="@Model.Displays[i].ID" />
                                                <button class="btn btn-danger" style="float:right" onclick="if (!confirm('Möchten Sie die Anzeige wirklich löschen?')) return false;"><i class="glyphicon glyphicon-remove"></i> Löschen</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Displays').addClass("active");
            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [3, 4] }
                ],
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": "Keine Einträge gefunden.",
                    "info": "Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": "Vorherige Seite",
                        "next": "Nächste Seite"
                    },
                    "search": "Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Alle"]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });

            setupInfoPopOver();

        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Sie können mehrere Anzeigen zur selben Zeit ansteuern. Fügen Sie Ihre Anzeigen mittels der Option \"Anzeige hinzufügen\" hinzu.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}

