﻿@model ForwardingAgencyViewModel
@{
    ViewData["Title"] = "Spedition bearbeiten";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Spedition bearbeiten</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <form class="form" asp-action="EditForwardingAgency" method="post">
                        <input type="hidden" asp-for="ForwardingAgency.ID" value="@Model.ForwardingAgency.ID" />
                        <div class="form-group">
                            <label class="control-label">Name *:</label>
                            <input type="text" class="form-control" asp-for="ForwardingAgency.Name" value="@Model.ForwardingAgency.Name" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Standart Tor Wareneingang:</label>
                            <select asp-for="ForwardingAgency.DeliveryGate" size="1" class="form-control">
                                <option></option>
                                @for (int i = 0; i < Model.Gates.Count; i++)
                                {
                                    if (Model.Gates[i].Name == Model.ForwardingAgency.DeliveryGate)
                                    {
                                        <option selected>@Model.Gates[i].Name</option>
                                    }
                                    else
                                    {
                                        <option>@Model.Gates[i].Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Standart Tor Warenausgang:</label>
                            <select asp-for="ForwardingAgency.PickUpGate" size="1" class="form-control">
                                <option></option>
                                @for (int i = 0; i < Model.Gates.Count; i++)
                                {
                                    if (Model.Gates[i].Name == Model.ForwardingAgency.PickUpGate)
                                    {
                                        <option selected>@Model.Gates[i].Name</option>
                                    }
                                    else
                                    {
                                        <option>@Model.Gates[i].Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Standart Tor Wareneingang und Warenausgang:</label>
                            <select asp-for="ForwardingAgency.DeliveryAndPickUpGate" size="1" class="form-control">
                                <option></option>
                                @for (int i = 0; i < Model.Gates.Count; i++)
                                {
                                    if (Model.Gates[i].Name == Model.ForwardingAgency.DeliveryAndPickUpGate)
                                    {
                                        <option selected>@Model.Gates[i].Name</option>
                                    }
                                    else
                                    {
                                        <option>@Model.Gates[i].Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">ERP ID:</label>
                            <input type="text" class="form-control" asp-for="ForwardingAgency.ERP_ID" value="@Model.ForwardingAgency.ERP_ID" />
                        </div>

                        <hr />

                        <div class="form-group">
                            <p>* Pflichtfeld</p>
                        </div>

                        <hr />

                        <div class="form-inline">
                            <a asp-action="ForwardingAgencies" class="btn btn-danger" style="float:left;">Abbrechen</a>
                            <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        document.getElementById("ForwardingAgencies").className += " active";

        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Der Name ist ein Pflichtfeld und muss einzigartig sein.</li>";
            data += "<hr />";
            data += "<li>Wenn für diese Spedition nicht die Standard-Tore für An- und Ablieferung verwendet werden sollen, wählen Sie die gewünschten Tore aus den Listen aus.</li>"
            data += "<li>Wenn jedoch die Standard-Tore verwendet werden sollen, lassen Sie die entsprechenden Felder leer.</li>";
            data += "<li>Die Angabe des Tores 'Beides' wird benutzt, wenn der Fahrer, sowohl zum anliefern wie auch abholen von Waren eingetragen ist.</li>";
            data += "<hr />";
            data += "<li>Das Feld für die ERP ID ist rein optional und dient nur zu Ihrer Auswertung in der Historie.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}