﻿@model DisplayConfiguration
@{
    ViewData["Title"] = "Anzeige bearbeiten";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Anzeige bearbeiten</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <form class="form" asp-action="EditDisplay" method="post">
                        <input type="hidden" asp-for="ID" value="@Model.ID" />
                        <div class="form-group">
                            <label class="control-label">Name *:</label>
                            <input type="text" class="form-control" asp-for="Name" value="@Model.Name" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">IP Adresse *:</label>
                            <input type="text" class="form-control" asp-for="IPAddress" value="@Model.IPAddress" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Port:</label>
                            <input type="number" class="form-control" asp-for="Port" min="1" step="1" value="@Model.Port" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">TCP Timeout in ms:</label>
                            <input type="number" class="form-control" asp-for="TcpTimeoutInMs" min="100" step="1" value="@Model.TcpTimeoutInMs" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Wartezeit nach Senden in ms:</label>
                            <input type="number" class="form-control" asp-for="ModeBreakInMs" min="0" step="1" value="@Model.ModeBreakInMs" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Anzahl Zeilen:</label>
                            <input type="number" class="form-control" asp-for="Rows" min="1" step="1" value="@Model.Rows" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Anzahl Zeichen pro Zeile:</label>
                            <input type="number" class="form-control" asp-for="CharsPerLine" min="1" step="1" value="@Model.CharsPerLine" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Relay Zeit:</label>
                            <input type="number" class="form-control" asp-for="RelayTime" min="0" step="1" max="99" value="@Model.RelayTime" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Einträge entfernen bei:</label>
                            @{
                                var removalTypes = Enum.GetNames(typeof(EEntryRemovalType));
                            }
                            <select asp-for="EntryRemovalType" class="form-control">
                                @for (int i = 0; i < removalTypes.Length; i++)
                                {
                                    if (Enum.GetName(typeof(EEntryRemovalType), Model.EntryRemovalType) == removalTypes[i])
                                    {
                                        <option selected>@removalTypes[i]</option>
                                    }
                                    else
                                    {
                                        <option>@removalTypes[i]</option>
                                    }
                                }
                            </select>
                        </div>

                        <hr />
                        <div class="form-group">
                            <p>* Pflichtfeld</p>
                        </div>

                        <hr />
                        <div class="form-inline">
                            <a asp-action="Displays" class="btn btn-danger" style="float:left;">Abbrechen</a>
                            <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        document.getElementById("Displays").className += " active";

        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Der Name ist ein Pflichtfeld und muss einzigartig sein.</li>";
            data += "<li>Die IP Adresse ist ein Pflichtfeld.</li>";
            data += "<hr />";
            data += "<li>Der Port der Schauf-Anzeigen ist standardmäßig 10001</li>";
            data += "<hr />";
            data += "<li>Der TCP Timeout gibt an, wie lange eine Verbindung unberbrochen sein darf, bevor sie beendet wird. Diese Zeit sollte nicht zu kurz eingestellt sein, da sonst unter Umständen keinerlei Kommunikation mit der Anzeige möglich ist.</li>";
            data += "<li>Die Wartezeit nach dem Senden wird benötigt, damit die Anzeige die Daten verarbeiten, und eine Antwort senden kann.</li>";
            data += "<hr />";
            data += "<li>Die Anzahl der Zeichen pro Zeile ist im Regelfall 16.</li>";
            data += "<hr />";
            data += "<li>Mit der Einstellung \"Einträge entfernen bei\" können Sie für diese Anzeige festlegen, zu welchem Zeitpunkt ein Eintrag nicht länger angezeigt werden soll. Sie können zwischen Entry und Exit wählen. Wenn Sie Entry wählen, werden nur Fahrzeuge angezeigt, welche noch nicht eingefahren sind. Wenn Sie Exit wählen, werden alle Fahrzeuge angezeigt, die noch nicht ausgefahren sind.</li>";
            data += "<li>Diese Option kann für jede Anzeige individuell festgelegt werden.</li>";
            data += "<hr />";
            data += "<li>Mit der Relay Zeit wird eingestellt wie lange bei einem Aufruf das Relay, in sekunden, angeschaltet wird.</li>";
            data += "<li>Bei einer 0 sekunden wird das Relay nicht angeschaltet.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}