﻿@model UserViewModel
@{
    ViewData["Title"] = "Benutzer bearbeiten";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Benutzer bearbeiten</h4>
                </div>
                <div class="panel-body">
                    <div id="ErrorDiv" asp-validation-summary="All" style="color:red;">
                        <ul id="ErrorUL">
                            @if (!String.IsNullOrEmpty(errorMessage))
                            {

                                <li>@errorMessage</li>

                            }
                        </ul>
                    </div>

                    <form class="form" asp-action="EditUser" method="post">
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <div class="form-group">
                            <label class="control-label">Benutzername *:</label>
                            <input type="text" class="form-control" asp-for="UserName" value="@Model.UserName" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Passwort (*):</label>
                            <input id="pw1" type="password" class="form-control" asp-for="Password" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Passwort wiederholen (*):</label>
                            <input id="pw2" type="password" class="form-control" autocomplete="off" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">Berechtigungsgruppe:</label>
                            <select asp-for="Group" class="form-control">
                                @for (int i = 0; i < Model.Groups.Count; i++)
                                {
                                    @if (Model.Groups[i] == Model.Group)
                                    {
                                        <option selected>@Model.Group</option>
                                    }
                                    else
                                    {
                                        <option>@Model.Groups[i]</option>
                                    }
                                }
                            </select>
                        </div>

                        <hr />

                        <div class="form-group">
                            <p>* Pflichtfeld</p>
                            <p>(*) Wenn die Passwortfelder leer gelassen werden, bleibt das aktuelle Passwort unverändert.</p>
                        </div>
                        <hr />

                        <div class="form-inline">
                            <a asp-action="UserIndex" class="btn btn-danger" style="float:left;">Abbrechen</a>
                            <button type="submit" onclick="checkPasswords();" class="btn btn-success" style="float:right;">Speichern</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Config/User/EditUser.js"></script>
    <script src="~/js/Config/User/CheckPasswords.js"></script>
}