﻿@model ForwardingAgenciesIndexViewModel
@{
    ViewData["Title"] = "Speditionen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    <form asp-action="ImportForwardingAgenciesFromCSV" asp-controller="Configuration" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <a asp-action="AddForwardingAgency" class="btn" style="float: left;"><i class="glyphicon glyphicon-plus"></i> Spedition hinzufügen</a>
                            <div class="input-group-btn" style="text-align:right;">
                                <label class="btn-link btn"><i class="glyphicon glyphicon-file"></i>CSV-Datei auswählen <input type="file" accept=".csv" name="file" hidden onchange="document.getElementById('upload').disabled = false;" /></label>
                                <button class="btn-link btn" id="upload" disabled><i class="glyphicon glyphicon-upload"></i>Importieren</button>
                            </div>
                        </div>
                    </form>

                    <hr />

                    <div class="table-responsive">
                        <table id="table" class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="1">Name</th>
                                    <th colspan="1">Tor: Wareneingang</th>
                                    <th colspan="1">Tor: Warenausgang</th>
                                    <th colspan="1">Tor: Beides</th>
                                    <th colspan="1">ERP ID</th>
                                    <th colspan="1">Optionen</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>
                            <tbody id="ForwardingAgenciesBody">
                                @for (int i = 0; i < Model.ForwardingAgencies.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.ForwardingAgencies[i].Name</td>
                                        <td>@Model.ForwardingAgencies[i].DeliveryGate</td>
                                        <td>@Model.ForwardingAgencies[i].PickUpGate</td>
                                        <td>@Model.ForwardingAgencies[i].DeliveryAndPickUpGate</td>
                                        <td>@Model.ForwardingAgencies[i].ERP_ID</td>
                                        <td><a asp-action="EditForwardingAgency" asp-route-id="@Model.ForwardingAgencies[i].ID" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Bearbeiten</a></td>
                                        <td>
                                            <form asp-action="DeleteForwardingAgency" method="post">
                                                <input type="hidden" name="id" value="@Model.ForwardingAgencies[i].ID" />
                                                <button class="btn btn-danger" style="float:right" onclick="if (!confirm('Möchten Sie die Spedition wirklich löschen?')) return false;"><i class="glyphicon glyphicon-remove"></i> Löschen</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>

    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#ForwardingAgencies').addClass("active");
            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [4, 5] }
                ],
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": "Keine Einträge gefunden.",
                    "info": "Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": "Vorherige Seite",
                        "next": "Nächste Seite"
                    },
                    "search": "Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Alle"]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });

            setupInfoPopOver();

        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Sie können Speditionen manuell hinzufügen, oder aus einer CSV-Datei importieren. Wenn Sie Speditionen importieren, werden alle Speditionen, welche nicht in der Datei enthalten sind, gelöscht.</li>";
            data += "<li>Um eine CSV-Datei zu importieren, klicken Sie auf \"CSV-Datei auswählen\" und wählen Sie die gewünschte Datei aus. Anschließend können Sie den Import durch Klick auf \"Importieren\" anstoßen.</li>";
            data += "<li>Damit der Import reibungslos funktioniert, lesen Sie bitte die Dokumentation zum CSV-Import.</li>"
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}

