﻿@model ConfigurationGatesViewModel
@{
    ViewData["Title"] = "Tore";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                    <form asp-action="ImportGatesFromCSV" asp-controller="Configuration" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <a asp-action="AddGate" class="btn" style="float: left;"><i class="glyphicon glyphicon-plus"></i> Tor hinzufügen</a>
                            <div class="input-group-btn" style="text-align:right;">
                                <label class="btn-link btn"><i class="glyphicon glyphicon-file"></i>CSV-Datei auswählen <input type="file" accept=".csv" name="file" hidden onchange="document.getElementById('upload').disabled = false;" /></label>
                                <button class="btn-link btn" id="upload" disabled><i class="glyphicon glyphicon-upload"></i>Importieren</button>
                            </div>
                        </div>
                    </form>

                    <hr />

                    <form asp-action="SetDefaultGates" method="post">
                        <div class="form-inline">
                            <label asp-for="DefaultDeliveryGate" class="control-label" style="min-width:25%;">Standard-Tor für Lieferungen:</label>
                            <select class="form-control" size="1" asp-for="DefaultDeliveryGate">
                                <option></option>
                                @{
                                    for (int i = 0; i < Model.Gates.Count; i++)
                                    {
                                        var name = Model.Gates[i].Name;
                                        if (name == Model.DefaultDeliveryGate)
                                        {
                                            <option selected>@name</option>
                                        }
                                        else
                                        {
                                            <option>@name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-inline">
                            <label asp-for="DefaultPickUpGate" class="control-label" style="min-width:25%;">Standard-Tor für Abholungen: </label>
                            <select class="form-control" size="1" asp-for="DefaultPickUpGate">
                                <option></option>
                                @{
                                    for (int i = 0; i < Model.Gates.Count; i++)
                                    {
                                        var name = Model.Gates[i].Name;
                                        if (name == Model.DefaultPickUpGate)
                                        {
                                            <option selected>@name</option>
                                        }
                                        else
                                        {
                                            <option>@name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success" style="float:right;">Speichern</button>
                        <br />
                    </form>

                    <hr />

                    <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead>
                                <tr>
                                    <th colspan="1">Name</th>
                                    @*<th colspan="1">Richtugspfeil</th>*@
                                    <th colspan="1">Tortyp</th>
                                    <th colspan="1">Relay Benutzung</th>
                                    <th colspan="1">Beschreibung</th>
                                    <th colspan="1">Optionen</th>
                                    <th colspan="1"></th>
                                </tr>
                            </thead>
                            <tbody id="GatesBody">
                                @for (int i = 0; i < Model.Gates.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.Gates[i].Name</td>
                                        @*<td>@Model.Gates[i].GateDirection.GetDisplayName()</td>*@
                                        <td>@Model.Gates[i].GateType.GetDisplayName()</td>
                                        @{
                                            if (Model.Gates[i].UseRelayAtCall)
                                            {
                                                <td>Ja</td>
                                            }
                                            else
                                            {
                                                <td>Nein</td>
                                            }
                                        }
                                        <td><textarea disabled>@Model.Gates[i].Description</textarea></td>
                                        <td><a asp-action="EditGate" asp-route-id="@Model.Gates[i].ID" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i> Bearbeiten</a></td>
                                        <td>
                                            <form asp-action="DeleteGate" method="post">
                                                <input type="hidden" name="id" value="@Model.Gates[i].ID" />
                                                <button class="btn btn-danger" style="float:right" onclick="if (!confirm('Möchten Sie das Tor wirklich löschen?')) return false;"><i class="glyphicon glyphicon-remove"></i> Löschen</button>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>

    <!--row-->
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#Gates').addClass("active");

            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [4, 5] }
                ],
                "order": [[0, "desc"]],
                "language": {
                    "lengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": "Keine Einträge gefunden.",
                    "info": "Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": "Vorherige Seite",
                        "next": "Nächste Seite"
                    },
                    "search": "Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Alle"]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });

            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Sie können Tore manuell hinzufügen, oder aus einer CSV-Datei importieren. Wenn Sie Tore importieren, werden alle Tore, welche nicht in der Datei enthalten sind, gelöscht.</li>";
            data += "<li>Um eine CSV-Datei zu importieren, klicken Sie auf \"CSV-Datei auswählen\" und wählen Sie die gewünschte Datei aus. Anschließend können Sie den Import durch Klick auf \"Importieren\" anstoßen.</li>";
            data += "<li>Damit der Import reibungslos funktioniert, lesen Sie bitte die Dokumentation zum CSV-Import.</li>"
            data += "<hr />";
            data += "<li>Legen Sie Standard-Tore fest, damit auch nicht eingetragenen Speditionen ein Tor zugewiesen werden kann.</li>"
            data += "<li>Durch das Festlegen von Standard-Toren müssen Sie nur in Sonderfällen das bevorzugte Tor für eine Spedition festlegen.</li>"
            data += "<li>Falls für ein Fahrt 'Anliefern' 'Abholen' eingetragen wurde, wird diese fahrt dem Standarttor für Anlieferung zugeordnet.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}

