﻿
@{
    ViewData["Title"] = "Konfiguration";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    <!--row-->
</div>

@section Scripts{
    <script>
        document.getElementById("Index").className += " active";
    </script>
}
