﻿@model UnknownForwardingAgenciesViewModel
@{
    ViewData["Title"] = "Unbekannte Speditionen";
    ViewBag.targetArea = "Configuration";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bereiche</h4>
            </div>
            <div class="panel-body">
                <ul class="nav nav-stacked nav-pills">
                    <li id="Gates">
                        <a class="list-group-item" asp-action="Gates" style="word-wrap:break-word;">Tore</a>
                    </li>
                    <li id="ForwardingAgencies">
                        <a class="list-group-item" asp-action="ForwardingAgencies" style="word-wrap:break-word;">Speditionen</a>
                    </li>
                    <li id="Displays">
                        <a class="list-group-item" asp-action="Displays" style="word-wrap:break-word;">Anzeigen</a>
                    </li>
                    <li id="UnknownForwardingAgencies">
                        <a class="list-group-item" asp-action="UnknownForwardingAgencies" style="word-wrap:break-word;">Unbekannte Speditionen</a>
                    </li>
                    <li id="DeliveryCountries">
                        <a class="list-group-item" asp-action="DeliveryCountries" style="word-wrap:break-word;">Lieferländer</a>
                    </li>
                    <li id="User">
                        <a class="list-group-item" asp-action="UserIndex" style="word-wrap:break-word;">Benutzer</a>
                    </li>
                    <li id="AuthorizationGroups">
                        <a class="list-group-item" asp-action="AuthorizationGroups" style="word-wrap:break-word;">Berechtigungsgruppen</a>
                    </li>
                    <li id="ADSettings">
                        <a class="list-group-item" asp-action="ADSettings" style="word-wrap:break-word;">Active Directory</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--col-lg-2-->
    </div>
    <div class="col-md-9">
        <div class="col-lg-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Übersicht</h4>
                </div>
                <div class="panel-body">
                    <div asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>
                    <div class="input-group-btn" style="float:left;">
                        <a asp-action="ExportUnknownForwardingAgenciesCSV" class="btn"><i class="glyphicon glyphicon-download"></i> Als CSV Exportieren</a>
                        <a asp-action="ExportUnknownForwardingAgenciesXML" class="btn"><i class="glyphicon glyphicon-download"></i> Als XML Exportieren</a>
                    </div>

                    <br />
                    <hr />

                    <div class="table-responsive">
                        <table class="table table-striped" id="table">
                            <thead>
                                <tr>
                                    <th colspan="1">Name</th>
                                    <th colspan="1">Erstes Vorkommen</th>
                                    <th colspan="1">Anzahl der Nennungen</th>
                                    <th colspan="1">Optionen</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.UnknownForwardingAgencies.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.UnknownForwardingAgencies[i].Name</td>
                                        <td>@Model.UnknownForwardingAgencies[i].FirstAppereance.ToString()</td>
                                        <td>@Model.UnknownForwardingAgencies[i].NumberOfAppereances</td>
                                        <td>
                                            @*<input type="button" value="Zu bekannten Speditionen hinzufügen" class="btn btn-success" onclick="location.href='@Url.Action("AddToFowardingAgencies", "Configuration")'" />*@
                                            @*@Html.ActionLink("click me", "Index", "Default", new { id = "123", name = "Test" })*@
                                            @Html.ActionLink("Zu bekannten Speditionen hinzufügen","AddToFowardingAgencies", "Configuration", new { Model.UnknownForwardingAgencies[i].ID }, new { @class = "btn btn-primary" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        </div>
        <!--row-->
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#UnknownForwardingAgencies').addClass("active");
            $('#table').DataTable({
                "paging": true,
                "searching": true,
                "stateSave": true,
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [] }
                ],
                "order": [[2, "desc"]],
                "language": {
                    "lengthMenu": "Zeige _MENU_ Einträge pro Seite",
                    "zeroRecords": "Keine Einträge gefunden.",
                    "info": "Zeige Seite _PAGE_ von _PAGES_",
                    "infoEmpty": "Keine Einträge verfügbar",
                    "paginate": {
                        "previous": "Vorherige Seite",
                        "next": "Nächste Seite"
                    },
                    "search": "Suche:"
                },
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "Alle"]],
                "dom": '<"top"f>rt<"bottom"lp><"clear">'
            });

            setupInfoPopOver();

        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Unbekannte Speditionen sind jene Speditionen, deren Name bei der Anmeldung angeben wurde und die nicht zur Liste der eingetragenen Speditionen gehören.</li>";
            data += "<li>Zu jeder unbekannten Spedition können Sie den Namen der Spedition, das Datum des ersten Auftretens als auch die Anzahl der Nennungen der Spedition, einsehen.</li>";
            data += "<li>Mittels dieser Informationen, können Sie entscheiden, ob Sie eine Spedition zu der Liste hinzufügen.</li>";
            data += "<hr />";
            data += "<li>Sie haben ebenfalls die Möglichkeit, die Liste der unbekannten Speditionen, entweder als CSV- oder als XML-Datei, zu exportieren.</li>"
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}
