﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    ViewBag.login = "true";
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}


<div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Login</h4>
            </div>
            <div class="panel-body">
                <form asp-action="Login" method="post">
                    <div id="ErrorDiv" asp-validation-summary="All" style="color:red;">
                        @if (!String.IsNullOrEmpty(errorMessage))
                        {
                            <ul>
                                <li>@errorMessage</li>
                            </ul>
                        }
                    </div>

                    @*@if (User.Identity.IsAuthenticated)
        {
            <label class="control-label col-md-4">asdf</label>
        }*@


                    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label col-md-4">Benutzername:</label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label col-md-4">Passwort:</label>
                        <input type="password" asp-for="Password" class="form-control" />
                    </div>
                    <div class="form-inline">
                        <label asp-for="RememberMe" class="control-label col-md-4">Eingeloggt bleiben?</label>
                        <input type="checkbox" asp-for="RememberMe" class="form-control myCheckbox" />
                    </div>

                    <hr />
                    <button class="btn btn-success" type="submit" style="float:right;">Log In</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    </div>

    <!--row-->
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            setupInfoPopOver();
        });

        function setupInfoPopOver() {
            $('[data-toggle="popover"]').popover();
            var data = "<ul>";
            data += "<li>Wenn Sie noch keinen Benutzernamen und Passwort haben, melden Sie sich bitte bei Ihrer IT-Abteilung.</li>";
            data += "<li>Wenn Sie einen persönlichen PC benutzen, wählen Sie \"Eingeloggt bleiben?\" an, um sich seltener anmelden zu müssen.</li>";
            data += "</ul>";
            var popover = $('#InfoPopover');
            popover.attr('data-content', data);
        }
    </script>
}
