﻿@model RegistrationViewModel
@{
    ViewData["Title"] = "Anmeldung";
    ViewBag.targetArea = "Registration";
    string message = ViewBag.Message;
    var errorMessage = ViewBag.ErrorMessage == null ? "" : ViewBag.ErrorMessage;
}


<div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="Header-Format panel-heading">
                <h4>Anmeldung</h4>
            </div>
            <div class="panel-body">
                <form asp-controller="Registration" asp-action="AddRegistration" id="RegistrationForm" onsubmit="disableSendButton()" method="post">
                    <div asp-validation-summary="All" style="color:red"></div>

                    <div class="form-group">
                        <label asp-for="LicensePlate">Kennzeichen *:</label>
                        <input type="text" asp-for="LicensePlate" class="form-control" id="LicensePlateInput" style="text-transform: uppercase" autofocus autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Transportnumber">Transportnummer:</label>
                        <input type="text" asp-for="Transportnumber" class="form-control" id="TransportnumberInput" style="text-transform: uppercase" autofocus autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label asp-for="SelectedDeliveryCountry" class="control-label">Lieferland:</label>
                        <select class="form-control" asp-for="SelectedDeliveryCountry">
                            @{
                                for (int i = 0; i < Model.Countries.Count; i++)
                                {
                                    string Country = Model.Countries[i].Country;
                                    if (Country == Model.DefaultDeliveryCountry)
                                    {
                                        <option selected>@Country</option>
                                    }
                                    else
                                    {
                                        <option>@Country</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="ForwardingAgency" class="control-label">Spedition (*):</label>
                        <div class="input-group">
                            <input type="text" asp-for="ForwardingAgency" class="form-control" id="ForwardingAgencyInput" autocomplete="off" style="text-transform: uppercase;" onkeyup="forwardingAgencyInputChanged(this)" />
                            <div class="input-group-btn">
                                <div class="dropdown-content" id="dropDown">
                                    <button class="btn btn-primary dropdown-toggle" id="dropDownButton" type="button" data-toggle="dropdown">
                                        Auswählen
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" id="dropdownList">
                                        @foreach (ForwardingAgency forwardingAgency in Model.ForwardingAgencies)
                                        {
                                            <li>
                                                <span class="btn" style="width:100%" onclick="forwardingAgencyOptionSelected(this)">@forwardingAgency.Name</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-sm-6">Spedition nicht bekannt (*):</label>
                        <input type="checkbox" asp-for="ForwardingAgencyUnknown" class="form-control myCheckbox" />
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-sm-6">Wareneingang:</label>
                        <input type="checkbox" asp-for="Deliver" class="form-control myCheckbox" />
                    </div>

                    <div class="form-inline">
                        <label class="control-label col-sm-6">Warenausgang:</label>
                        <input type="checkbox" asp-for="PickUp" class="form-control myCheckbox" />
                    </div>

                    <div class="form-group">
                        <label asp-for="Comment">Kommentar:</label>
                        <input type="text" asp-for="Comment" class="form-control" id="CommentInput" autofocus autocomplete="off" />
                    </div>

                    <hr />
                    <div class="form-group">
                        <p>* Pflichtfeld</p>
                        <p>(*) Es muss entweder eine Spedition eingetragen, oder das Auswahlfeld angeklickt werden.</p>
                    </div>

                    <hr />
                    <div class="form-inline">
                        <button type="reset" class="btn btn-danger" onclick="resetForm(@Model.DefaultDeliveryCountry)">Zurücksetzen</button>
                        <button type="submit" id="SendButton" class="btn btn-success" style="float:right">Senden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
    </div>

    <!--row-->
</div>

@section Scripts
    {
    <script src="~/js/Registration.js"></script>
    @if (message != "" && message != null)
    {
        <script>
            alert("@message");
            location.search = "";
        </script>
    }
}
