﻿.navbar {
    background-color: #15222E;
}

.Header-Format {
    color: white !important;
    background-color: #15222E !important;
}

.panel-heading {
    color: white !important;
    background-color: #15222E !important;
}

.validationText {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
}

.textCenter{
    text-align: center;
    width: 60%;
}

.registrationTable {
    width: auto;
    margin: auto;
    float: none;
    border: solid;
    border-width: thin;
}

.configNavigation {
    padding-top: 75px;
    padding-bottom: 25px;
    height: 100%; /*90vh;*/
    max-height: 90vh;
}

.input-validation-error {
    border: dotted;
    border-color: red;
}

.myCheckbox {
    min-width: 25px;
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

/* The max width is dependant on the container (more info below) */
.popover {
    max-width: 50%; /* Max Width of the popover (depending on the container!) */
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }
}

[hidden] {
    display: none !important;
}